.sertificates {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../images/clouds-bckg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sertificates__wrapper h2 {
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.sertificates-items {
  display: flex;
  gap: 10px;
}

.sertificates-items img {
  max-width: 24%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sertificates-items {
    gap: 55px 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .sertificates-items img {
    max-width: 35%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .sertificates {
    padding-top: 35px;
  }

  .sertificates__wrapper h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .sertificates-items {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }

  .sertificates-items img {
    max-width: 46%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .sertificates {
    padding-top: 35px;
  }

  .sertificates__wrapper h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .sertificates-items {
    gap: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }

  .sertificates-items img {
    max-width: 100%;
  }
}
